@{
    ViewData["Title"] = "Home page";
}
<div class="container-fuild" style="height: 90vh;">
        <img src="https://www.velisa.vn/wp-content/uploads/2021/03/tui-2-6.jpg"alt="" class="bg">
        <div class="text-center">
            <h1 class="display-4 text-warning">Chào Mừng Bạn Đã Đến Với Blue SHOP </h1>   
        </div>
</div>

