@{
    ViewData["Title"] = "Upload";
}
<h1>Import data </h1>
<h4>@ViewBag.Dulieu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Upload" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <label>Upload file excel</label>
                <input name="file" type="file" class="form-control">
                <br>
            </div>
            <div class="form-group">
                <input type="submit" value="Upload" class="btn btn-primary">
                <a asp-action="Index" class="btn btn-info"> Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}